:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-module-content {
  flex-grow: 1;
  display: flex; // Para que o router-outlet preencha o espaço
  overflow: hidden; // O scroll será controlado pelo componente filho (chat-room)
}

.spacer {
  flex: 1 1 auto;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.1);
}

