<mat-toolbar color="primary">
  <a mat-button routerLink="home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span class="ms-2">Início</span>
  </a>
  <a mat-button routerLink="sala" routerLinkActive="active-link">
    Sala de Chat
  </a>
  <span class="spacer"></span>
  <app-user-profile-menu></app-user-profile-menu>
  <a mat-icon-button routerLink="/home" matTooltip="Voltar para o menu principal">
    <mat-icon>exit_to_app</mat-icon>
  </a>
</mat-toolbar>
<div class="container p-4">
  <router-outlet></router-outlet>
</div>
