<!-- Botão do Menu de Perfil -->
<button mat-icon-button [matMenuTriggerFor]="profileMenu">
  <mat-icon>account_circle</mat-icon> <!-- Ícone de usuário -->
</button>

<!-- Menu de Perfil -->
<mat-menu #profileMenu="matMenu">
  <div class="profile-info">
    <mat-icon class="profile-icon-large">account_circle</mat-icon> <!-- Ícone de usuário maior -->
    <p *ngIf="user" class="username">{{ user.sub }}</p>
    <p *ngIf="user" class="email">{{ user.email }}</p>
    <p *ngIf="!user" class="username">Convidado</p>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
