<h2 mat-dialog-title>Remover usuários do grupo</h2>
<mat-dialog-content>
  <mat-selection-list #userList (selectionChange)="onListSelectionChange($event)">
    <mat-list-option *ngFor="let member of members" [value]="member.username">
      {{ member.username }}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onRemove()" [disabled]="selectedUsernames.length === 0">Remover</button>
</mat-dialog-actions>
