mat-card {
  margin-bottom: 1rem;
  .mat-mdc-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  .mat-mdc-card-title {
    margin-bottom: 0;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.me-2 {
  margin-right: 0.5rem;
}
