<app-base-modal-form 
  [title]="isEditMode ? 'Editar Tipo de Domínio' : 'Novo Tipo de Domínio'"
  moduleTheme="cadastros"
  (save)="save()"
  (cancel)="cancel()">

  <form [formGroup]="form" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipoDoTipo" required>
        <mat-option value="ENDERECO">Endereço</mat-option>
        <mat-option value="EMAIL">Email</mat-option>
        <mat-option value="TELEFONE">Telefone</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tipoDoTipo')?.hasError('required')">
        O tipo é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao" required />
      <mat-error *ngIf="form.get('descricao')?.hasError('required')">
        A descrição é obrigatória.
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="status" class="form-toggle">
      Status
    </mat-slide-toggle>
  </form>

</app-base-modal-form>
