<h1 mat-dialog-title>{{ data ? 'Editar Telefone' : 'Novo Telefone' }}</h1>
<div mat-dialog-content [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Tipo de Telefone</mat-label>
        <mat-select formControlName="tipo" required>
          <mat-option *ngFor="let tipo of dominioTipos" [value]="tipo.descricao">
            {{ tipo.descricao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tipo')?.hasError('required')">
          O tipo de telefone é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>DDD</mat-label>
        <input matInput formControlName="ddd" mask="00" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero" mask="0000-0000||0 0000-0000" required>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Ramal</mat-label>
        <input matInput formControlName="ramal">
      </mat-form-field>
    </div>
  </div>
  <div class="mt-3">
    <mat-checkbox formControlName="whatsapp">WhatsApp</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">Salvar</button>
</div>
