@use '@angular/material' as mat;
@include mat.core();

// 1. Definição do Tema Global da Aplicação
//    ------------------------------------
$sancode-health-primary: mat.m2-define-palette(mat.$m2-blue-palette, 500);
$sancode-health-accent: mat.m2-define-palette(mat.$m2-blue-palette, 200);
$sancode-health-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Crie o objeto de tema global.
$sancode-health-theme: mat.m2-define-light-theme((
  color: (
    primary: $sancode-health-primary,
    accent: $sancode-health-accent,
    warn: $sancode-health-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

// Inclua o mixin de tema para aplicar o tema global.
@include mat.all-component-themes($sancode-health-theme);


// 2. Definição do Tema Específico para o Módulo de Cadastros
//    ------------------------------------------------------
$sancode-health-cadastro-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$sancode-health-cadastro-accent: mat.m2-define-palette(mat.$m2-amber-palette);
$sancode-health-cadastro-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Crie o objeto de tema para o módulo de Cadastros.
$sancode-health-cadastro-theme: mat.m2-define-light-theme((
  color: (
    primary: $sancode-health-cadastro-primary,
    accent: $sancode-health-cadastro-accent,
    warn: $sancode-health-cadastro-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

// Crie uma classe CSS para aplicar este tema.
.sancode-cadastro-theme {
  @include mat.all-component-themes($sancode-health-cadastro-theme);
}

// 3. Definição do Tema Específico para o Módulo de Usuário
//    ---------------------------------------------------
$sancode-health-usuario-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette, 500);
$sancode-health-usuario-accent: mat.m2-define-palette(mat.$m2-deep-purple-palette, 200);
$sancode-health-usuario-warn: mat.m2-define-palette(mat.$m2-red-palette, 300);

$sancode-health-usuario-theme: mat.m2-define-light-theme((
  color: (
    primary: $sancode-health-usuario-primary,
    accent: $sancode-health-usuario-accent,
    warn: $sancode-health-usuario-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

.sancode-usuario-theme {
  @include mat.all-component-themes($sancode-health-usuario-theme);
}

html, body {
  height: 100%;
  margin: 0; // Adicionado para remover margens padrão
  font-family: Roboto, "Helvetica Neue", sans-serif; // Fonte padrão do Material
}

body {
  background-color: #f5f5f5; // Um fundo global mais neutro
}