/* Estilos para o ag-Grid */
.ag-theme-alpine {
  /* Você pode ajustar a altura e largura aqui ou no HTML */
  height: 500px;
  width: 100%;
}

.status-chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.status-chip.active {
  background-color: #4caf50; /* Green */
}

.status-chip.inactive {
  background-color: #f44336; /* Red */
}

